@using APlanner.Database
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>APlanner</h1>
    <p class="lead">Our new Schedule look-up page</p>
</div>




<div class="row">


    <div class="form-horizontal">


        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active bar">
                    <a href="#UserID" class="active" role="tab" data-toggle="tab">Student UserID</a>
                </li>
                <li class="bar">
                    <a href="#CourseName" role="tab" data-toggle="tab">Course ID</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane fade in showTitle active" id="UserID">
                    @using (Html.BeginForm("ResultStudent", "Home", FormMethod.Post, new { @class = "" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2" for="TermID">Term</label>
                            <div class="col-md-10">
                                @Html.DropDownList("TermID", null, htmlAttributes: new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(model => model.TermID, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-2" for="TermID">Student ID</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="search" name="search" type="text" value="">
                                @*<span class="field-validation-valid text-danger" data-valmsg-for="search" data-valmsg-replace="true"></span>*@
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Search" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
                <div class="active tab-pane fade showTitle" id="CourseName">
                    @using (Html.BeginForm( "ResultCourse", "Home", FormMethod.Post, new { @class = "" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2" for="TermID">Term</label>
                            <div class="col-md-10">
                                @Html.DropDownList("TermID", null, htmlAttributes: new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(model => model.TermID, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="TermID">Course ID</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="search" name="search" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="search" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Search" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>


    </div>


    <div id=" = " result">
        Reuslt div!
    </div>


    <script>


        $("#result").load("ajax/test.html");

    </script>
