
@{
    ViewBag.Title = "ResultCourse";
}

<h2>ResultCourse</h2>

@model APlanner.Database.Schedule
@using APlanner.Models
@{
    ViewBag.Title = "Details";
}

@Html.Partial("ScheduleDisplay", ViewBag.scheduleDisplay as ScheduleDisplay)
